<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4HmMIRajndrUS2-YQKattYxjGXP96_eY</string>
	<key>GCM_SENDER_ID</key>
	<string>328159487670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ieltsAiStudy</string>
	<key>PROJECT_ID</key>
	<string>ielts-ai-study-assistant-8e0e0</string>
	<key>STORAGE_BUCKET</key>
	<string>ielts-ai-study-assistant-8e0e0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328159487670:ios:c606440825681ff5f2e817</string>
</dict>
</plist>